<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.mapper.BookClassMapper">
  <resultMap id="BaseResultMap" type="com.demo.model.BookClassDTO">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="tmp1" jdbcType="VARCHAR" property="tmp1" />
    <result column="tmp2" jdbcType="VARCHAR" property="tmp2" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="valid_flag" jdbcType="VARCHAR" property="validFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, tmp1, tmp2, create_date, update_date, valid_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from book_class
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from book_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.demo.model.BookClassDTO" useGeneratedKeys="true">
    insert into book_class (`name`, tmp1, tmp2, 
      create_date, update_date, valid_flag
      )
    values (#{name,jdbcType=VARCHAR}, #{tmp1,jdbcType=VARCHAR}, #{tmp2,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, #{validFlag,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.demo.model.BookClassDTO" useGeneratedKeys="true">
    insert into book_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="tmp1 != null">
        tmp1,
      </if>
      <if test="tmp2 != null">
        tmp2,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="validFlag != null">
        valid_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="tmp1 != null">
        #{tmp1,jdbcType=VARCHAR},
      </if>
      <if test="tmp2 != null">
        #{tmp2,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validFlag != null">
        #{validFlag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.demo.model.BookClassDTO">
    update book_class
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="tmp1 != null">
        tmp1 = #{tmp1,jdbcType=VARCHAR},
      </if>
      <if test="tmp2 != null">
        tmp2 = #{tmp2,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="validFlag != null">
        valid_flag = #{validFlag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demo.model.BookClassDTO">
    update book_class
    set `name` = #{name,jdbcType=VARCHAR},
      tmp1 = #{tmp1,jdbcType=VARCHAR},
      tmp2 = #{tmp2,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      valid_flag = #{validFlag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>